.background {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  --tw-text-opacity: 1;
  background-color: rgba(30, 41, 59, var(--tw-text-opacity));

  .title-background {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    h1 {
      --tw-text-opacity: 1;
      color: rgba(248, 250, 252, var(--tw-text-opacity));
    }
  }
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
